body{
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}

.profile-picture {
  width: 24%;
  height: 5%
}

.profile-pic {
  flex-basis: 360%;
  margin: 50px;
}

.aboutMe {
  display: inline;
  line-height: 35px;
  margin-left: 130px;
  flex-wrap: wrap;
  }

  .aboutMeContainer {
    display: flex;
    align-items: center;
    justify-content: center
  }
  
  .container{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
  }
  

  img {
    max-width: 100%
  }
  
  .text {
    font-size: 20px;
    padding-left: 20px;
  }

  .portfolio {
    margin: 10px auto;
  }
  .card {
    align-items: center;
    text-align: center;
    margin: 10px;
  }


  footer {
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: center;
    border-top: 2px solid black;
  
  }
  
  footer ul li {
    display: inline;
    font-size: 2rem;
    padding: 1rem;
    color: black;
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }