body{
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}

button {
  font-family: 'News Cycle', sans-serif;
  background-color: #F9E79F !important;
  width: 10rem;
  font-weight: bold;
  
}

/* -------- NAVIGATION BAR ------------- */
.navbar {
  margin-bottom: 0;
  background-color: #F9E79F;
  z-index: 9999;
  border: 0;
  font-size: 16px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
color: #424949  !important;
margin-left:10px;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #424949  !important;
  background-color: #fff !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

#profilePic{
 margin-left: 150px;
}
#aboutMeText {
  display: flex;
  line-height: 35px;
  flex-wrap: wrap;
  justify-content: flex-start;
  
  }

  .aboutMe {
    display: flex;
    align-items: center;
    min-height: 90vh;
    
  }
  
  .container{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
  }
    
  .text {
    font-size: 20px;
    padding-left: 20px;
  }

  .portfolio {
    margin: 10px auto;
  }
  .card {
    align-items: center;
    text-align: center;
    margin: 10px;
  }


  footer {
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: center;
    border-top: 2px solid black;
  
  }
  
  footer ul li {
    display: inline;
    font-size: 2rem;
    padding: 1rem;
    color: black;
  }

  #prof-list{
    list-style-type: square;
    margin: 30px;
    margin-top: 40px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
  }

  #prof-list ul li{
    margin: 10px;
  }

  #prof-list h1{
    margin-bottom: 50px;
  }

  .contact-button{
    background-color: #0275d8 !important;
  }

  #resume-button {
    margin-bottom: 50px;
  }


  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }